@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@400;600&family=Yellowtail&display=swap");
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";

/* Screens */
@import "screens/login.css";

body {
  font-family: "Open Sans", sans-serif;
}