body{
    height: 130vh;
}

.find-icons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.find-icons__icon{
    display: flex;
    flex-direction: column;
    /* Cross Axis, Main Axis가 바뀜 */
    /* Main Axis는 세로 이고 Cross Axis는 가로이다 */
    align-items: center;
}

.find-icons__icon i{
    font-size: 35px;
    /* font-size를 사용해서 icon크기를 조절 할 수 있다.*/
    /* 그냥 i라고 하면 모든 아이콘에 적용되니 조심하기 */
}

.find-icons__icon span{
    margin-top: 18px;
}

.recommended-friends{
    margin: 25px 0px;
    padding: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}

.recommended-friends__title{
    font-size: 14px;
    color: var(--gray);
}

.recommended-friends span{
    margin: 100px 0;
    display: block;
    text-align: center;
    font-size: 18px;
    color: var(--gray);
}

.open-chat__header{
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    margin-bottom: 25px;
}

.open-chat__header span{
    opacity: 0.6;
    /* 투명도 */
}

.open-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.open-post__title{
    font-weight: 600;
    margin-bottom: 10px;
}

.open-post__hashtags{
    text-transform: uppercase;
    opacity: 0.6;
}

.open-post__members{
    margin-top: 7px;
    display: flex;
    align-items: center;
}

.open-post__members img{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

.open-post__member-count{
    opacity: 0.5;
    font-size: 14px;
}

.open-post__member-count .divider{
    width: 1px;
    height: 15px;
    margin: 0 5px;
    background-color: var(--gray);
}

.open-post__member-status{
    color: #ffb0e0;
}

.open-post__photo {
    position: relative;
}

.open-post__photo img{
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.open-post__heart-count{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
}

.open-post__heart-count span{
    margin-left: 3px;
}