.find-icons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.find-icons__icon{
    display: flex;
    flex-direction: column;
    /* Cross Axis, Main Axis가 바뀜 */
    /* Main Axis는 세로 이고 Cross Axis는 가로이다 */
    align-items: center;
}

.find-icons__icon i{
    font-size: 35px;
    /* font-size를 사용해서 icon크기를 조절 할 수 있다.*/
    /* 그냥 i라고 하면 모든 아이콘에 적용되니 조심하기 */
}

.find-icons__icon span{
    margin-top: 18px;
}

.recommended-friends{
    margin: 25px 0px;
    padding: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}

.recommended-friends__title{
    font-size: 14px;
    color: var(--gray);
}

.recommended-friends span{
    margin: 100px 0;
    display: block;
    text-align: center;
    font-size: 18px;
    color: var(--gray);
}