.settings__setting{
    padding: 20px 0;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings__setting i{
    opacity: 0.7;
    margin-right: 20px;
    font-size: 22px;
}

/* i 기호의 경우 저렇게 i라고 표시 안해주면 실제 아이콘에 적용이 되지 않음 */

.settings__setting-column:last-child{
    opacity: 0.5;
}