.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 50px;
    box-sizing: border-box;     /* box사이즈 200을 가진채로 padding 넣으면 원하던 크기에 + padding된 값만큼 크기가 커진다. 그걸 방지함 padding해도 크기200 유지*/
    border-top: 1px solid rgba(121, 121, 121, 0.3)
}

.nav__list{
    display: flex;
    justify-content: space-between;
}

.nav__link {
    position: relative;
    color: #2e363e;
}

.nav__notification{
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.ellipsis__notification{
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    position: absolute;
    left: 30px;
    bottom: 27px;
}